name: Bilding & Deploy spring boot app 

on: 
 push:
   branches:
     - main

jobs:
  build-deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v6
    - name: Set up JDK 17
      uses: actions/setup-java@v3
      with:
        java-version: '17'
        distribution: 'temurin'
        cache: 'maven'
    - name: units Tests
      run: mvn -B test --file pom.xml


    - name: Build the Spring Boot application
      run:
       mvn clean 
       mvn -B package --file pom.xml
        




