name: Bilding & Deploy spring boot app 

on: 
 push:
   branches:
     - main

jobs:
  build-deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v6
    - name: Set up JDK 17
      uses: actions/setup-java@v3
      with:
        java-version: '17'
        distribution: 'temurin'
        cache: 'maven'
    - name: units Tests
      run: mvn -B test --file pom.xml


    - name: Build the Spring Boot application
      run: mvn -B package --file pom.xml

    - name: Build and push
      uses: docker/build-push-action@v4
      with:
        context: .
        file: Dockerfile
        push: false
        tags: |
          ${{env.DOCKER_HUB_USERNAME}}/spring-boot-for-beginners:today-${{github.sha}}
      env:
        DOCKER_HUB_USERNAME: ${{secrets.DOCKER_HUB_USERNAME}}

    - name: Log in to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{secrets.DOCKER_HUB_USERNAME}}
        password: ${{secrets.DOCKER_HUB_ACCESS_TOKEN}}

    - name: Push to Docker Hub
      uses: docker/build-push-action@v4
      with:
        context: .
        file: Dockerfile
        push: true
        tags: |
          ${{ env.DOCKER_HUB_USERNAME }}/spring-boot-for-beginners:today-${{ github.sha }}
      env:
        DOCKER_HUB_USERNAME: ${{ secrets.DOCKER_HUB_USERNAME }}